### Create a new colomn with the first number of the compta number

In [10]:
import pandas
pandas.__version__
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
grand_livre = pd.read_excel("QR_rendu_2020-2021.xlsx")

In [12]:
grand_livre

,date,plan_compta,Intitulé du compte général,debit,credit,solde progressif
0,01/07/20,1013,CAPITAL,NaN,82322.70,-82322.70
1,01/07/20,1061,RESERVE LEGALE,NaN,8232.00,-8232.00
2,01/07/20,1068,AUTRES RESERVES,NaN,1874389.99,-1874389.99
3,20/11/20,110,Report à nouveau (solde créditeur),NaN,71310.67,-71310.67
4,01/07/20,119,Report à nouveau (solde débiteur),516859.36,NaN,516859.36
...,...,...,...,...,...,...
18589,28/02/21,79141,AVANTAGE EN NATURE,NaN,2189.40,-17905.78
18590,31/03/21,79141,AVANTAGE EN NATURE,NaN,2189.40,-20095.18
18591,30/04/21,79141,AVANTAGE EN NATURE,NaN,2189.40,-22284.58
18592,31/05/21,79141,AVANTAGE EN NATURE,NaN,2189.40,-24473.98
18593,30/06/21,79141,AVANTAGE EN NATURE,NaN,2189.40,-26663.38

In [19]:
grand_livre["categorie"] = grand_livre["plan_compta"]

In [20]:
# une erreur mais ça fonctionne
for i in range (grand_livre.shape[0]):
    grand_livre["categorie"][i] = grand_livre["plan_compta"][i][0:1]

/var/folders/5q/87z082dj7tj77tn02lnz8tv80000gn/T/ipykernel_3269/4858262.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grand_livre["categorie"][i] = grand_livre["plan_compta"][i][0:1]

In [21]:
# créer au préalable un fichier excel 
file_name = 'QR_rendu_2020-2021.xlsx'

In [22]:
grand_livre.to_excel(file_name)
print('Sales record successfully exported into Excel File')

Sales record successfully exported into Excel File